/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
  --body-background: #ece8ef;
  --body-text-colour: #000500;
  --body-font: "Orbitron", sans-serif;

  --nav-colour: #6abcd4;
  --nav-items-colour: #1056ee;
  --nav-items-active: white;

  --burger-colour: white;

  --fact-text-colour: #ece8ef;
  --fact-background: #000500a5;
}